<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div class='banner-title'>
                    <h2>Montaż klimatyzacji</h2>
                </div>
                <div class='banner-description'>
                    <p class="mt-4">Poszukujesz profesjonalnej firmy, która wykona montaż klimatyzacji w Twoim domu lub
                        mieszkaniu? Skontaktuj się z nami. Oferujemy kompleksową usługę montażu klimatyzacji w domach,
                        biurach oraz przestrzeniach publicznych. Posiadamy szeroki asortyment klimatyzatorów
                        dedykowanych do różnych powierzchni.</p>
                </div>
            </div>
            <div class="div-btn-banner">
                <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "banner", "email")'
                    href="mailto:xxxxxxx@gmail.com" target="_black" class="main-btn">
                    Wyślij wiadomość
                </a>
            </div>
        </div>
    </div>
</section>