<section class="section" id="jobs">
  <div class="container jobs">
    <div class="section-box">
      <div class="about-title mb-5" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="e-font section-title">
          <span class="code-font n-section-title">02.</span>
          Oferta
        </h3>
      </div>
      <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
        <p style="font-weight: bold;">
          Klimatyzacja z montażem Sinclair Sky 3 - cena z montażem 3000 zł netto
        </p>
      </div>
      <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
        <p style="font-weight: bold;">
          Klimatyzacja z montażem Hyundai Revolution 2.6 kw - cena z montażem 3200 zł netto
        </p>
      </div>
      <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
        <p style="font-weight: bold;">
          Klimatyzacja z montażem Gree Pular 3.5 kw - cena z montażem 3500 zł netto
        </p>
      </div>
    </div>
  </div>
</section>